<div id="user-add" class="user-form-add display-none animate__animated">
  <form id="user-form" action="/users" class="user-form__add" method="post">
    <input name="target" class="hidden" type="hidden" />
    <input name="_id" class="hidden" type="hidden" />
    <fieldset class="form-group width-100 card">
      <legend>
        <span class="user-form-add__title"></span>
        <span class="user-form-title__close">
          <svg
            id="i-close"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            width="22"
            height="22"
            fill="none"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M2 30 L30 2 M30 30 L2 2" />
          </svg>
        </span>
      </legend>

      <div class="form-group width-100">
        <label for="user-name">{{ lang.login }}: *</label>
        <input
          class="form-group-input input form-control user-name"
          name="username"
          type="text"
          placeholder="Your username"
          required
          autofocus
        />
      </div>

      <div class="form-group width-100">
        <label for="user-email">{{ lang.Email }}:</label>
        <input
          class="form-group-input input form-control user-email"
          name="email"
          type="email"
          placeholder="Your email"
          required
        />
      </div>

      <div class="form-group width-100">
        <label for="user-password">{{ lang.password }}: *</label>
        <input
          class="form-group-input input form-control user-password"
          name="password"
          type="password"
          placeholder="Your password"
          required
        />
      </div>

      <div class="form-group width-100">
        <label for="user-group">{{ lang.Group }}:</label>
        <select name="select" class="form-control user-group">
          <!--Supplement an id here instead of using 'name'-->
          <option value="admin">admin</option>
          <option value="user" selected>user</option>
          {#
          <option value="value3">Значение 3</option>
          #}
        </select>
      </div>

      <div class="form-group width-100">
        <label for="user-quota">{{ lang.Quota }}:</label>
        <input
          class="form-group-input input form-control user-quota"
          name="quota"
          type="number"
          value="{{ quota }}"
          step="1"
          max="{{ quota }}"
          min="0"
          placeholder="Your quota"
          required
          list="user-quota-input-list"
        />
        <!-- Optional quota -->
        <datalist id="user-quota-input-list">
          {% for i in range(0, quota) -%}
          <option value="{{ i }}"></option>
          {%- endfor %}
          <option value="{{ quota }}"></option>
        </datalist>
      </div>
      <div class="form-group width-100">
        <button
          type="submit"
          class="user-form-button form-inline-button btn btn-primary"
        >
          {{ lang.form.submit }}
        </button>
      </div>
    </fieldset>
  </form>
</div>
