<nav class="sidebar-nav navbar-left" role="navigation">
  <ul class="navbar-left-ul">
    <li class="navbar-left-ul__li navbar-left-ul-li__item">
      <a class="navbar-article-url__home" href="/article/">
        <span class="navbar-article-ul-li__span">
          <svg>
            <use xlink:href="#home"></use>
          </svg>
        </span>
        <span>{{ lang.menu.home }}</span>
      </a>
    </li>
    <li class="navbar-left-ul__li navbar-left-ul-li__item">
      <a class="navbar-article-url" href="/article/list-article.html">
        <span class="navbar-article-ul-li__span">
          <svg>
            <use xlink:href="#article"></use>
          </svg>
        </span>
        <span>{{ lang.menu.list.article }}</span>
      </a>
    </li>

    <li class="navbar-left-ul__li navbar-left-ul-li__item">
      <a class="navbar-article-url" href="/article/list-section.html">
        <span class="navbar-article-ul-li__span">
          <svg>
            <use xlink:href="#section"></use>
          </svg>
        </span>
        <span>{{ lang.menu.list.section }}</span>
      </a>
    </li>

    <li class="navbar-left-ul__li navbar-left-ul-li__title">Добавить</li>

    <li class="navbar-left-ul__li navbar-left-ul-li__item">
      <a class="navbar-article-url" href="/article/add-section.html">
        <span class="navbar-article-ul-li__span">
          <svg>
            <use xlink:href="#write_section"></use>
          </svg>
        </span>
        <span>{{ lang.menu.add.section }}</span>
      </a>
    </li>
  </ul>
</nav>
